body {
    font-family: "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.camera-frame,
.captured-frame {
    width: 48%; /* Adjusted width */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.camera-frame {
    margin-right: 2%; /* Added margin to separate from captured-frame */
}

video,
#canvas-overlay,
#captured-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.captured-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure square aspect ratio */
    position: relative;
}

#captured-photo p {
    margin: 0; /* Remove default margin */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Increase z-index to place it above other elements */
}

#capture-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#capture-btn:hover {
    background-color: #555;
}
