<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Object Detection App</h1>
    <div class="container">
        <div class="camera-frame">
            <video id="video" autoplay></video>
        </div>
        <div class="captured-frame">
            <canvas id="canvas-overlay" width="320" height="240"></canvas>
            <div id="captured-photo" class="captured-photo-placeholder">
                <p>No photo captured</p>
            </div>
        </div>
    </div>
    <button id="capture-btn" onclick="captureImage()">Take a Photo and Detect</button>
    <!-- <button id="capture-btn" onclick="captureImage()">Take a Photo</button>
    <button id="capture-btn" onclick="detectImage()">Detect objects</button> -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
